# Binaries for programs
*.exe
*.dll
*.so
*.dylib

# Test binaries
*_test

# Build output
bin/
pkg/
# For modules
vendor/

# Environment variables
.env
.env.*

# IDE and editor files
.idea/ # IntelliJ IDEA
.vscode/ # VS Code
*.sublime-project
*.sublime-workspace

# Operating system files
.DS_Store # macOS
Thumbs.db # Windows

# Log files
*.log

# Dependency management tools
Gopkg.lock
Gopkg.toml