.dashboard{
    width:100%;
    height:100dvh;
}
.sidemenu{
    width:18%;
    height:100dvh;
    border-right:var(--border);
}
.main_navbar_outlet{
    width:82%;
    /* background-color: green; */
}

.outlet{
    height:92%;
    /* background-color: blue; */
}