.sidemenu{
    width:15%;
    height:100dvh;
    border-right:var(--border);
}
.logo{
    width:100%;
    height: 10%;
    margin-bottom: 20px;
    border-bottom:var(--border);
    position: relative;
    gap:10px;
    padding:18px;
}

.logo_img{
    width:24px;
    height:24px;
    aspect-ratio: 1/1;
}
.logo p{
    font-size: 30px;
    margin:0;
    font-weight: 900;
}
.menu_items{
    width:calc(100% - 20px);
    height:92%;
    padding:0px;
    gap:10px;
}

.menu_items .menu_item{
    border-radius: 10px;
    padding:8px;
    list-style-type:none;
    font-size:16px;
    gap:10px;
}
.menu_item:hover ,.menu_item.active{
    background-color:transparent;
    outline:var(--border);
    backdrop-filter: blur(20px);
    background:var(--menu-item-hover-color);
    border-radius: 8px;
}

.menu_items .menu_item  svg{
    width: 20px;
    height:20px;
}
.menu_items .menu_item  a {
    width:100%;
    text-decoration: none;
    color:rgb(var(--secondary-color));
    gap:10px;
}
.menu_items .menu_item.active a{
    width:100%;
    text-decoration: none;
    color:var(--menu-item-active-text-color);
    gap:10px;
}
.menu_items .menu_item:hover  a {
    width:100%;
    text-decoration: none;
    color:var(--menu-item-active-text-color);
    gap:10px;
}
.menu_items .menu_item:hover  a svg path{
    stroke:var(--menu-item-active-text-color);
}
.menu_items .menu_item  a svg path{
    stroke:var(--menu-item-inactive-text-color);
}
.menu_items .menu_item.active  a svg path{
    stroke:var(--menu-item-active-text-color);
}
