@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.light {
	--primary-color: 249, 253, 255;
	--secondary-color: 0, 0, 0;
	--accent-color: 142, 212, 90;
	/* menu items  */
	--gradient-color: #0e5320;
	--menu-item-active-text-color: rgb(var(--primary-color));
	--menu-item-inactive-text-color: rgb(var(--secondary-color));

	/* buttons */
	--button-bg-color: #0e5320;
	--button-hover-color: rgba(14, 83, 32, 0.827);
	--button-hover-text-color: white;

	--upload-border-height: 2px;
	--hover-color: #0e5320;
	--border: 1px solid rgba(51, 51, 51, 0.4);

	background-color: var(var(--primary-color));
	color: var(var(--secondary-color));
	--glass: linear-gradient(180deg, #0e5320, #0e5320);
}

.dark {
	--primary-color: 16, 16, 20;
	--secondary-color: 255, 255, 255;
	--accent-color: 142, 212, 90;

	/* background-color: rgb(var(--primary-color)); */

	/* menu-items */
	--gradient-top-color: 255, 255, 255, 0.05;
	--gradient-bottom-color: 0, 0, 0, 0.3;

	--menu-item-active-text-color: rgb(var(--secondary-color));
	--menu-item-inactive-text-color: rgb(var(--secondary-color));

	/* buttons */
	--button-bg-color: white;
	--button-hover-color: #8fd45a;
	--button-hover-text-color: black;

	--upload-border-height: 1px;

	--border: 51, 51, 51, 0.7;
	--border-light: 51, 51, 51, 0.2;

	--glass: linear-gradient(180deg, rgb(255, 255, 255, 0.05), rgb(0, 0, 0, 0.3));

	--glass-reverse: linear-gradient(
		180deg,
		rgb(0, 0, 0, 0.3),
		rgb(255, 255, 255, 0.13)
	);
	background-color: rgb(var(--primary-color));
	color: rgb(var(--secondary-color));
	--icon-active-color: white;
	--icon-inactive-color: white;
}

@theme {
	--color-primary: rgb(var(--primary-color));
	--color-secondary: rgb(var(--secondary-color));
	--color-accent: rgb(var(--accent-color));
	--color-border: rgb(var(--border));
	--color-gradient-top: rgba(var(--gradient-top-color));
	--color-gradient-bottom: rgba(var(--gradient-bottom-color));
}
