:root {
  font-family: "Geist", serif;

}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding:0;
    margin:0;
}


[data-theme="light"] {  
  --accent-color:#50be8e;
  --background:white;
  --secondary-color:black;
  --border:1px solid #333333;
  background-color: var(--background);
  color: var(--secondary-color);
}

[data-theme="dark"] {
  --background:#101014;
  --secondary-color:white;
  --border:1px solid #333333;
  --accent-color:#50be8e;
  --glass:linear-gradient(180deg,rgb(255, 255, 255,0.13),rgb(0, 0, 0,0.3));
  background-color: var(--background);
  color: var(--secondary-color);
}

.df{
  display:flex;
}
.df_jc_space{
  justify-content: space-between;
}
.df_jc_center{
  justify-content: center;
}
.df_ai_center{
  align-items: center;
}
.dfc{
  display:flex;
  justify-content: center;
  align-items: center;
}
.df_fd_c{
  flex-direction: column;
}